Options -MultiViews

RewriteEngine On
# RewriteBase /Advanced%20PHP/Composer%20Apps/Slim%20MVC%20%5bTest%5d/public
RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
RewriteRule ^(.*)$ - [E=BASE:%1]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]